header{
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  color: darkgreen;
}
section{
  text-align: center;
}
button{
  position: relative;
  display: inline-block;
  margin: 16px;
  padding: 8px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #fff;
  color: #222;
  transition: background-color .3s;
}
